.select2-container .select2-selection--single {
    max-height: 500px !important;
    height: 38px;
    width: 220px;
    padding-top: 4px;
}

.select2-results__option {
    padding: 6px;
    font-size: 14px;
}